.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.25rem, 1fr));
  gap: 1rem;

  & .radio-inner {
    display: grid;
    justify-items: center;
    gap: 0.5rem;
    position: relative;
    padding: 2rem 1rem 1rem;
    outline: 1px solid var(--stroke-default);
    border-radius: 0.5rem;

    & input {
      all: unset;
      opacity: 0;
      position: absolute;
      inset: 0;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background: url("../../assets/icons/circle.svg") no-repeat center;
      inset: 0.5rem 0.5rem;
    }

    &:hover,
    &:focus-within {
      outline-width: 0.125rem;
      outline-color: var(--stroke-highlight);

      &::before {
        background: url("../../assets/icons/circle-hover.svg") no-repeat center;
      }
    }

    &:has(input:checked) {
      outline-width: 0.125rem;
      outline-color: var(--stroke-highlight);
      
      &::before {
        background: url("../../assets/icons/circle-checked.svg") no-repeat center;
      }
    }
  }
}

@media (width >= 48rem) {
  .radio-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

