select {
  background-color: var(--surface-primary);
  background: url("../../assets/icons/arrow-down.svg") no-repeat calc(100% - 1rem) center / 1.5rem;

  &:focus {
    background: url("../../assets/icons/arrow-up.svg") no-repeat calc(100% - 1rem) center / 1.5rem;
  }

  &:invalid {
    color: var(--text-tertiary);
  }
  
  & option {
    font: var(--font-md);
    color: var(--text-primary);

    &[disabled] {
      color: var(--text-tertiary);
    }
  }


}