& textarea {
  display: block;

  &::-webkit-resizer {
    background: url("../../assets/icons/resize-handler.svg") no-repeat calc(100% - 0.25rem) calc(100% - 0.25rem);
  }
}

@media (width >= 64rem) {
  & textarea {
    max-width: 31.9375rem;
  }
}