#aside-background {
  grid-area: aside-background;

  & aside {
    justify-items: center;

    & header {
      margin-bottom: 2rem;
      justify-items: center;
      text-align: center;
      max-width: 31rem;

      & h2 {
        margin-block: 0.5rem;
      }
    }

  }
}

@media (width >= 48rem) {
  #aside-background {

    & aside {
      gap: 1.5rem;
    }
  }
}

@media (width >= 64rem) and (orientation: landscape) {
  #aside-background {
    & aside {
      overflow: hidden;
      gap: 2rem;
      margin-inline: 0 auto;

      & header {
        justify-items: start;
        text-align: left;
      }
    }
  }
}

/* For small desktops */
@media (64rem <= width <= 75rem ) and (orientation: landscape) {
  #aside-background {
    & aside header h2 {
      font-size: var(--fs-2xl);
    }
  }
}
